.router-links  {
    color: white; /* Cor dos links */
    margin-right: 10px; /* Espaçamento entre os links */
    text-decoration: none; /* Remover sublinhado */
  }
  
  .router-links:hover {
    color: lightgray; /* Cor do texto ao passar o mouse */
  }


  a{
    margin: 5px;
    color: #fff;
    text-decoration: none;
  }
  a:hover {
    background: lightslategray; 
    
  }